.contenido{
    display: flex;
    justify-content: center;
    padding: {
        top: 8rem;
        bottom: 13rem;
    }

    h1 {
        font: {
        family: arial;
        size: 3rem;}
    }
}